<div class="">
  <div *ngIf="itemResource" class="">
    <div style="margin: auto; margin-bottom: 50px;">
        <data-table id="persons-grid"
            headerTitle="Users"
            [items]="items"
            [itemCount]="itemCount"
            (reload)="reloadItems($event)"

            (rowClick)="rowClick($event)"
            (rowDoubleClick)="rowDoubleClick($event)"
            [rowTooltip]="rowTooltip"
            >
            <data-table-column
                [property]="'username'"
                [header]="'Name'"
                [sortable]="true"
                [resizable]="true">
            </data-table-column>
            <data-table-column
                [property]="'date'"
                [header]="'Date'"
                [sortable]="true">
                <ng-template #dataTableCell let-item="item">
                    <span>{{item.date | date:'yyyy-MM-dd'}}</span>
                </ng-template>
            </data-table-column>
            <data-table-column
                property="email"
                header="Phone number"
                width="150px">
            </data-table-column>
            <data-table-column
                [property]="'jobTitle'"
                [header]="'Job title'"
                [visible]="false">
            </data-table-column>
            <data-table-column
                [property]="'active'"
                [header]="'Active'"
                [width]="100"
                [resizable]="true">
                <ng-template #dataTableHeader let-item="item">
                    <span style="color: rgb(232, 0, 0)">Active</span>
                </ng-template>
                <ng-template #dataTableCell let-item="item">
                    <span style="color: grey">
                    <span class="fa fa-check green-text" *ngIf="item.active"></span>
                    <span class="fa fa-check red-text" *ngIf="!item.active"></span>
                    </span>
                </ng-template>
            </data-table-column>
        </data-table>
    </div>
  </div>
</div>
