.login {

  &-content {
    max-width: 500px;
  }
}

.btn-home {
  width: 40px;
  height: 40px;
  user-select: none;


  &-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
}

.btn-white-text {
  color: #fff !important;
  border-color: #fff !important;
}

.view {
  height: 100%;
}

.view {
  background: url("https://newgrodno.by/wp-content/uploads/2017/09/DJI_0049.jpg") no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
