<!--Mask-->
<div id="intro" class="view">
  <div class="full-bg-img rgba-black-strong">
    <div class="mask pattern-1">
      <div class="container d-flex align-items-center justify-content-center h-100">

        <!-- Content -->
        <div class="form col align-self-center col col-lg-4 justify-content-center text-center">

              <form class="form-container">
                <div class="form-group ">
                  <h3  for="inputUsername" class="h3-responsive white-text" translate>Username</h3>
                  <input type="text" class="form-control" id="inputUsername" placeholder="" name="username" required [(ngModel)]="username" />
                </div>
                <div class="form-group ">
                  <h3  for="inputPassword" class="h3-responsive white-text" translate>Password</h3>
                  <input type="password" class="form-control" id="inputPassword" name="pass" required  [(ngModel)]="password" />
                </div>
                <div class="form-group  d-flex align-items-center flex-column ">
                  <button type="button" class="btn btn-outline-primary waves-effect btn-white-text"  (click)="login()" translate>LogIn</button>
                  <a class="btn btn-link btn-white-text" translate routerLink="/signup">GoToSignUp</a>
                </div>
              </form>
          </div>
          <!-- Content -->
          <div class="btn-home-container" routerLink="/" >
            <img class="btn-home" src="/assets/img/home.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <app-loading
      [loading]="loading"></app-loading>
  </div>
<!--/.Mask-->
