<div class=" container justify-content-md-center">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserFirstName" translate>UserFirstName</label>
        <input type="text" class="form-control" name="firstName" id="inputFirstName" [(ngModel)]="passport.firstName" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputUserLastName" translate>UserLastName</label>
        <input type="text" class="form-control" name="lastName" id="inputLastName" [(ngModel)]="passport.lastName" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserPassportID" translate>UserPassportID</label>
        <input type="text" class="form-control" name="identificationNumber" id="inputIdentificationNumber" [(ngModel)]="passport.identificationNumber" placeholder="XXX-XXX-XXX-XXX-XX">
      </div>
      <div class="form-group col-md-6">
        <label for="inputUserPassportNumber" translate>UserPassportNumber</label>
        <input type="text" class="form-control" name="passportNumber" id="inputPassportNumber" [(ngModel)]="passport.passportNumber" placeholder="XX-XXXX-XXXX">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserDateOfBirthday" translate>UserDateOfBirthday</label>
        <input type="date" class="form-control" name="dateOfBirth" id="inputDateOfBirth" [(ngModel)]="passport.dateOfBirth" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputUserPassportDateTo" translate>UserPassportDateTo</label>
        <input type="date" class="form-control" name="dateOfExpiry" id="inputDateOfExpiry" [(ngModel)]="passport.dateOfExpiry" placeholder="">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUserDateOfBirthday" translate>UserDriverLicenseId</label>
        <input type="text" class="form-control" name="driverLicenseId" id="inputDriverLicenseId" [(ngModel)]="driverLicenseId" placeholder="">
      </div>
      <div class="form-group col-md-6">
        <label for="inputUserPassportDateTo" translate>UserDriverLicenseDateTo</label>
        <input type="date" class="form-control" name="driverLicenseDateTo" id="inputDriverLicenseDateTo" [(ngModel)]="driverLicenseDateTo" placeholder="">
      </div>
    </div>
    <!-- IMG UPLOAD -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="uploadPhotos" translate>Photos</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control" id="uploadPhotos" placeholder="">
        <button type="button" name="btn" (click)="onUploadPhoto()">Upload</button>
      </div>
    </div>
    <!-- IMG UPLOAD -->
    <div class="form-group  d-flex align-items-center flex-column ">
      <button type="submit" class="btn btn-primary" (click)="addPassport()" translate>UserDateApproveBtn</button>
    </div>
</div>
