.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.settings {
  display: flex;
  justify-content: center;

  &-content {
    display: flex;
    justify-content: center;
  }

  &-container {
    max-width: 1200px;
  }

  &-label {
    font-weight: bold;
  }

  &-left {
  }

  &-right {
  }
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.form {

  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;


    &-btn {
      padding: 8px 10px;
      margin-right: 0;
      margin-left: 0;

      &-success {
        background-color: #1aaa55;
        border-color: #168f48;
      }

      &-cancel {
        background-color: #fff;
        border-color: #e5e5e5;
        color: #2e2e2e !important;
      }


      &-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
      }
    }
  }
}




































// .popup {
//   background-color: #fff;
//   width: 370px;
//   height: 300px;
//   border-radius: 10px;
//
//   &__img {
//     width: 150px;
//     height: 120px;
//     top: -60px;
//     position: relative;
//
//     &-container {
//       display: flex;
//       justify-content: space-around;
//       height: 45px;
//     }
//   }
//
//   &__title {
//     text-align: center;
//       &-container {
//       }
//   }
//
//   &__body {
//     display: grid;
//     grid-template-columns: 150px 150px;
//     grid-gap: 43px;
//     background-color: #fff;
//     color: #444;
//     row-gap: 20px;
//     column-gap: 50px;
//
//     &-container {
//       display: flex;
//       justify-content: center;
//     }
//   }
//
// }
