<div class="settings">
  <div class="settings-container">


  <!-- Main settings  -->
  <div class="settings-content row" >
    <div class="col-lg-4 settings-left">
      <h4 translate>Settings_MainTitle</h4>
      <p translate>
        Settings_MainTitleDescription
      </p>
    </div>
    <div class="col-lg-8 col-md-12 settings-right">
      <!-- Username -->
      <div class="row">
        <div class="form-group col-9">
          <label for="exampleForm2" class="settings-label" translate>Username</label>
          <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="user.username">
          <span class="help-block" translate>Settings_MainTitleHelp_Username</span>
        </div>
        <div class="form-group col-3">
          <label for="exampleForm2" class="settings-label" translate>UserId</label>
          <input type="text" id="exampleForm2" class="form-control" value="{{user._id}}" />
          <!-- [(ngModel)]="user.username"> -->
        </div>
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>UserEmail</label>
        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="user.email">
        <span class="help-block" translate>Settings_MainTitleHelp_Username</span>
      </div>

      <!-- Phone Number -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>PhoneNumber</label>
        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="user.phoneNumber">
      </div>

      <!-- Skype -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>Skype</label>
        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="user.skype">
      </div>

      <!-- Linkedin -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>Linkedin</label>
        <input type="text" id="exampleForm2" class="form-control" [(ngModel)]="user.linkedin">
      </div>

      <!-- BIO -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>Settings_MainBio</label>
        <textarea id="textarea-char-counter" class="form-control md-textarea" length="120" rows="3"  [(ngModel)]="user.bio"></textarea>
        <span class="help-block" translate>Settings_MainBioHelp</span>
      </div>

      <!-- Language -->
      <div class="form-group">
        <label for="exampleForm2" class="settings-label" translate>Language</label>
        <select class="custom-select">
          <option selected>English</option>
          <option value="1">Russian</option>
        </select>
      </div>

      <!-- Buttons -->
      <div class="form-group-btn-container">
        <div (click)="editUserProfile()" class="btn form-group-btn form-group-btn-success" translate>Settings_Main_Btn</div>
        <input type="submit" name="commit" value="{{'Cancel' | translate}}" class="btn form-group-btn form-group-btn-cancel">
      </div>
    </div>
  </div>
  <!-- Main settings  -->

</div>
</div>
