<!-- Extended material form grid -->
<div class="container h-100 d-flex justify-content-center flex-column">
    <!-- Grid row -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="text" name="mark" [(ngModel)]="car.mark" class="form-control" id="inputMark" placeholder="Mark">
                <label class="input-label" for="inputEmail4MD" translate>Car_Mark</label>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="text" name="model" [(ngModel)]="car.model" class="form-control" id="inputModel" placeholder="Model">
                <label class="input-label" for="inputModel" translate>Car_Model</label>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
              <select id="selectBodyType" [(ngModel)]="car.bodyType" class="form-control input-select">
                <option *ngFor='let bodyType of bodyTypesList'  [value]="bodyType">{{bodyType}}</option>
              </select>
                <label class="input-label" for="selectBodyType" translate>Car_BodyType</label>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="number" name="year" [(ngModel)]="car.year" class="form-control" id="inputYear" placeholder="XXXX">
                <label class="input-label" for="inputYear" translate>Car_Year</label>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <select id="selectGearBoxType" [(ngModel)]="car.gearBoxType" class="form-control input-select">
            <option *ngFor='let gearBoxType of gearBoxTypesList' name="gearBox"  [value]="gearBoxType">{{gearBoxType}}</option>
          </select>
            <label class="input-label" for="selectGearBoxType" translate>Car_GearBoxType</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <select id="selectFuelType" [(ngModel)]="car.fuelType" class="form-control input-select">
            <option *ngFor='let fuelType of fuelTypesList' [value]="fuelType">{{fuelType}}</option>
          </select>
            <label class="input-label" for="selectFuelType" translate>Car_FuelType</label>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="number" name="" class="form-control" id="inputEngineVolume" [(ngModel)]="car.engineVolume" placeholder="Cubic Capacity (in ccm)">
                <label class="input-label" for="inputEngineVolume" translate>Car_EngineVolume</label>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="number" name="priceCategory" class="form-control" id="inputPriceCategory" [(ngModel)]="car.priceCategory" placeholder="">
                <label class="input-label" for="inputPriceCategory" translate>Car_PriceCategory</label>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Material input -->
            <div class="md-form form-group">
                <input type="number" name="" class="form-control" id="inputSideNumber" [(ngModel)]="car.sideNumber" placeholder="Side Number">
                <label class="input-label" for="inputSideNumber" translate>Car_SideNumber</label>
            </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6">
            <!-- Registration plate input -->
            <div class="md-form form-group">
                <input type="string" name="registrationPlate" class="form-control" id="inputRegistrationPlate" [(ngModel)]="car.registrationPlate" placeholder="">
                <label class="input-label" for="inputRegistrationPlate" translate>Car_RegistrationPlate</label>
            </div>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">

      <!-- Grid column -->
      <div class="col-md-6">
          <!-- Registration plate input -->
          <div class="md-form form-group">
              <input type="string" name="mileage" class="form-control" id="inputMileage" [(ngModel)]="car.mileage" placeholder="">
              <label class="input-label" for="inputMileage" translate>Car_Mileage</label>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
        <!-- IMG UPLOAD -->
          <div class="form-group col-md-6">
            <label for="uploadPhotos" translate>Photos</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control" id="uploadPhotos" placeholder="">
            <!-- <button type="button" name="btn" (click)="onUploadPhoto()">Upload</button> -->
          </div>
        <!-- IMG UPLOAD -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <button type="submit" class="btn btn-primary btn-md" (click)="onAddingCar()" translate>Car_Add_Button</button>
</div>
<!-- Extended material form grid -->
