.input {

  &-label {
    top: -1.35rem;
  }

  &-select {
    transition: all .3s;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
    height: 1.5rem !important;
  }
}
