<app-dashboard-navbar></app-dashboard-navbar>
<div id="wrapper" class="dashboard-container toggled">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Sidebar -->
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <!-- Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- Content -->
</div>
