<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse">
  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand font-weight-bold" routerLink="" translate>CompanyName</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navBase" aria-controls="navBase"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navBase">
      <!-- Links -->
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#intro" translate>MainPageCarsharingTitle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#aboutUs" translate>MainPage_AboutUsTitle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#howItWork" translate>MainPageHowItWorkTitle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#whatIsIncluded" translate>MainPageIncludesTitle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#prices" translate>MainPagePriceTitle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll font-weight-bold" href="#findCar" translate>MainPageFindCarTitle</a>
        </li>
      </ul>
      <hr>
      <!-- Links -->
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="login" translate>Auth-login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" translate>Auth-signin</a>
        </li>
      </ul>
    </div>
    <!-- Collapsible content -->

  </div>
</nav>
<!--/.Navbar-->

      <!-- <a class="btn btn-secondary nav-font" routerLink="/login" translate>Auth-login</a>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group">
         <button id="btnGroupDrop1" type="button" class="btn nav-font btn-secondary dropdown-item-wd dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{currentLanguage}}
         </button>
         <div class="dropdown-menu dropdown-item-wd" aria-labelledby="btnGroupDrop1">
           <button class="dropdown-item nav-font" (click)="switchLanguage('ru')" type="button">RU</button>
           <button class="dropdown-item nav-font" (click)="switchLanguage('en')" type="button">EN</button>
         </div>
       </div>
     </div> -->
