<div class="">
  <div class="d-flex justify-content-center ">
    <div class="row col-sm-10 flex-sm-row justify-content-center col-12">
      <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-10 col-12" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/sidebar/profile.svg" alt="Avatar">
        <div class="card-body">
          <div *ngIf="user.isActivated" class="green-text">
            <i class="fa fa-check-circle green-text"></i>
            <span class="card-title h6" translate>{{this.userStatus}}</span>
          </div>
          <div *ngIf="user.isActivated" class="green-text">
            <i class="fa fa-check-circle green-text"></i>
            <span class="card-title h6" translate>{{this.userStatus}}</span>
          </div>
          <div class="">
            <h5 class="card-title">{{this.user.username}}</h5>
            <h5 class="card-title">{{this.user.email}}</h5>
          </div>
          <h5 class="card-title">{{this.user.firstName}} {{this.user.lastName}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center">
          <a *ngIf="!user.isActivated" routerLink="/user/userdata" type="button" class="btn btn-secondary profile-edit__btn"  translate>Activate</a>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-lg-6 col-12">
        <div class="card">
          <h5 class="card-header" translate>Activity</h5>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" translate>ProfileActivityCar</th>
                  <th scope="col" translate>ProfileActivityTime</th>
                  <th scope="col" translate>ProfileActivityCost</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of oldOrders; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.mark}} {{item.model}}</td>
                  <td>{{item.time}}</td>
                  <td>{{item.cost}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
