.profile {
  &-edit {

    &-container {
      display: flex;
      justify-content: center;
    }

    &__btn {
      display: flex;
      padding: 10px;
      background-color: #dc0a31!important;


      &:hover {
        border-radius: 5px;
        background: #dedede;
        user-select: none;
        cursor: pointer;
      }

      &-img {
        width: 20px;
        height: 20px;
      }

      &-label {
        padding-left: 5px;
        font-size: 16px;
      }
    }

  }
}
