.popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;

  &-content {
  }
}

.alert {
  &-container {
    position: absolute;
    min-width: 300px;
    max-width: 500px;
    right: 0;
    bottom: 0;
  }
}
