<div class="alert-container">
  <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable popup">
       {{alert.message}}
       <a class="close" (click)="removeAlert(alert)">&times;</a>
  </div>
</div>
