<div class=" testimonial-card">
    <div class="card-body">
        <!--Name-->
        <p translate>{{rateName}}</p>
        <h4 class="card-title"></h4>
        <hr>
        <div class="">
          <h1>{{rateCost}}</h1>
          <h5>{{rateTiming}}</h5>
        </div>
        <!--Quotation-->
        <hr>
        <p>
          <span></span>
          <span></span>
        </p>

        <p>
          <span></span>
          <span></span>
        </p>

        <p>
          <span></span>
          <span></span>
        </p>

    </div>

</div>
