<div class="d-flex flex-column align-items-center justify-content-center h-100">
    <h2 class="h1-responsive">
      Oopps...
    </h2>
    <h2 class="h1-responsive">
      Page Not Found
    </h2>
    <i class="fa fa-gear red-text fa-15x loader" (click)='goToMainPage()' aria-hidden="true"></i>
    <h1>404</h1>
</div>
