
<nav aria-label="breadcrumb" class="d-flex justify-content-center breadcrumb-container">
  <div class="breadcrumb-custom">
    <ol class="breadcrumb breadcrumb-custom">
      <li class="breadcrumb-item"><a class="breadcrumb-item__link" routerLink="/user/profile">User</a></li>
      <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
  </div>
</nav>


<!-- <ol *ngIf="breadcrumbs$" class="breadcrumb">
sas
{{breadcrumbs$}}
<li *ngFor="let breadcrumb of breadcrumbs$ | async"
class="breadcrumb-item">
{{breadcumb.url}}s
Zxcvbnmj,k.
</li>
asx
</ol> -->
