.breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;

  &-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 35px;
  }

  &-custom {
    padding-left: 0;
    // max-width: 1200px;
    width: 100%;
  }

  &-item {

    &__link {
      color: #007bff !important;
    }
  }
}
