<div class="support">
  <!-- Card How To Start -->
  <app-support-card [cardTitle]="'SupportCard_HowToStart'"
    [cardText]="'SupportCard_HowToStartText'"
    [cardImgSrc]="'start.svg'"
    routerLink="guide"
    ></app-support-card>
  <!-- Card How To Start -->

  <!-- Card Call To US -->
  <app-support-card [cardTitle]="'SupportCard_CallToUs'"
    [cardText]="'SupportCard_CallToUsText'"
    [cardImgSrc]="'call.svg'"
    ></app-support-card>
  <!-- Card Call To US -->

  <!-- Card Send Email-->
  <app-support-card [cardTitle]="'SupportCard_Email'"
    [cardText]="'SupportCard_EmailText'"
    [cardImgSrc]="'gmail.svg'"
    ></app-support-card>
  <!-- Card Send Email-->

</div>
<router-outlet></router-outlet>
