<div class="row justify-content-around">
  <div class="col-3 panel-item-container panel-item-user-bg">
    <!-- Card Users -->
      <!-- Card content -->
      <a class="" routerLink="/admin/users">
        <div class="panel-item__label-container">
          <div class="panel-item-user__image panel-item-bg-image"></div>
          <div class="panel-item__label-content white-text">
            <span class="h4  panel-item__label">Users</span>
            <div class="user-item-count">
              <span class="h3">{{usersCount}}</span>
              <span *ngIf="notActivatedUsers > 0" class="h3 panel-item__label">/{{notActivatedUsers}}</span>
            </div>
            <span class="">{{usersText}}</span>
          </div>
        </div>
      </a>
    <!-- Card -->
  </div>

  <!-- Card Cars -->
    <div class="col-3 panel-item-container panel-item-car-bg">
        <!-- Card content -->
        <a class="" routerLink="/admin/cars">
          <div class="panel-item__label-container">
            <div class="panel-item-car__image panel-item-bg-image"></div>
            <div class="panel-item__label-content white-text">
              <span class="h4  panel-item__label">Cars</span>
              <div class="user-item-count">
                <span class="h3">{{carsCount}}</span>
                <span *ngIf="rentedCars > 0" class="h3 panel-item__label">/{{rentedCars}}</span>
              </div>
              <span class="">{{carsText}}</span>
            </div>
          </div>
        </a>
    </div>
    <!-- Card -->

    <!-- Card Messages -->
      <div class="col-3 panel-item-container panel-item-messages-bg">
          <!-- Card content -->
          <a class="" routerLink="/admin/cars">
            <div class="panel-item__label-container">
              <div class="panel-item-messages__image panel-item-bg-image"></div>
              <div class="panel-item__label-content white-text">
                <span class="h4  panel-item__label">Support</span>
                <div class="user-item-count">
                  <span class="h3">{{messagesCount}}</span>
                  <span *ngIf="notActivatedUsers > 0" class="h3 panel-item__label">/{{rentedCars}}</span>
                </div>
                <span class=""></span>
              </div>
            </div>
          </a>
      </div>
      <!-- Card -->
  </div>

  <!-- Content -->
