$user-item-bg: #fa8675;
$car-item-bg: #6ab0bc;
$messages-item-bg: #f3cf84;

.card-bg-top {

  &-container {
    width: 100%;
    min-height: 200px;
    height: 200px;
    background: blue;
  }

  height: 100%;
  background: url('/assets/img/admin-car.svg') no-repeat 50%;
}


.panel {

  &-item {
    &-user {
      &-bg {
          background-color: $user-item-bg;
      }
      &__image {
        background: url('/assets/img/admin-user.svg') no-repeat 50%;
      }
    }

    &-car {
      &-bg {
        background-color: $car-item-bg;
      }
      &__image {
        background: url('/assets/img/admin-car.svg') no-repeat 50%;
      }
    }

    &-messages {
      &-bg {
        background-color: $messages-item-bg;
      }
      &__image {
        background: url('/assets/img/admin-messages.svg') no-repeat 50%;
      }
    }

    &-bg-image {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 15px;
      right: 10px;
      background-size: 100px;
      z-index: 0;
    }

    &-container {
      height: 200px;

      &:hover {
        background: #d6d6d6;
      }
    }

    &__label {

      &-container {
        display: flex;

        width: 100%;
        height: 100%;
        right: 0;
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        z-index: 123;
      }
    }


  }
}
