<!-- Card -->

<!-- Card How To Start -->
<div class="sup-card-container">

  <!-- Card image -->
  <div class="sup-card__img-container">
    <img class="sup-card__img" src="{{'/assets/img/support/'+cardImgSrc}}" alt="Start img">
  </div>

  <!-- Card content -->
  <div class="sup-card-body">

    <!-- Title -->
    <h4 class="sup-card__title" translate>{{cardTitle}}</h4>
    <!-- Text -->
    <p class="sup-card__text" translate>{{cardText}}</p>

  </div>
</div>
<!-- Card -->
