
.sup {

  &-card {

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 300px;
      height: 370px;
      background-color: #fff;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 6px 1px #979797;
      }
    }

    &__img {
      width: 120px;
      height: 120px;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 170px;
        background: #b7b7e6;
        border-radius: 50%;
      }
    }

    &-body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 30px;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

  }
}

.sup-card-container:hover .sup-card__img-container {
  border: 2px solid red;
}
