<div class="car-container">

  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade col-10 col-lg-6 col-sm-10" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://auto.ironhorse.ru/wp-content/uploads/2015/05/vw-polo-sedan.jpg" alt="First slide">
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="https://blamper.ru/steady/54/50/da/original/5450da0dbc33daa1108b45ea/568x390_skrezhet-pri-povorote-rulya-vw-polo-sedan.jpg" alt="Second slide">
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="http://topruscar.ru/sites/default/files/news/news166_002.jpg" alt="Third slide">
      </div>
      <!--/Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->

  <!-- Content -->
  <div class="col-10 col-lg-6 col-md-12">
    <!--Table-->
      <table class="table table-striped">

          <!--Table head-->
          <!-- <thead>
              <tr>
                  <th>Car is Avtive</th>
              </tr>
          </thead> -->
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr>
                  <td translate>Car_Mark</td>
                  <td>{{car.mark}}</td>
              </tr>
              <tr>
                  <td translate>Car_Model</td>
                  <td>{{car.model}}</td>
              </tr>
              <tr>
                  <td translate>Car_BodyType</td>
                  <td>{{car.bodyType}}</td>
              </tr>
              <tr>
                  <td translate>Car_EngineVolume</td>
                  <td>{{car.engineVolume}}</td>
              </tr>
              <tr>
                  <td translate>Car_Year</td>
                  <td>{{car.year}}</td>
              </tr>
              <tr>
                  <td translate>Car_FuelType</td>
                  <td>{{car.fuelType}}</td>
              </tr>
              <tr>
                  <td translate>Car_GearBoxType</td>
                  <td>{{car.gearBoxType}}</td>
              </tr>
              <tr>
                  <td translate>Car_LicensePlate</td>
                  <td>{{car.registrationPlate}}</td>
              </tr>
              <tr>
                  <td translate>Car_SideNumber</td>
                  <td>{{car.sideNumber}}</td>
              </tr>
              <tr>
                  <td translate>Car_IsActice</td>
                  <td>false</td>
              </tr>
          </tbody>
          <!--Table body-->

      </table>
    <!--Table-->
  </div>

</div>
