<div class="user-container">

  <!--Carousel Wrapper-->
  <div  id="carousel-example-1z" class="carousel slide carousel-fade col-10 col-lg-6 col-sm-10" data-ride="carousel">
    <div *ngIf="passport" class="">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://rfrm.io/uploads/post/photo/236/default_51440_original.jpg" alt="First slide">
      </div>
      <!--/First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="http://vsr.mil.by/wp-content/uploads/2012/03/55_20.jpg" alt="Second slide">
      </div>
      <!--/Second slide-->
      <!--Third slide-->
      <div class="carousel-item">
        <img class="d-block w-100" src="https://cdn1.img.sputnik.by/images/102602/06/1026020690.jpg" alt="Third slide">
      </div>
      <!--/Third slide-->
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
  </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
  </a>
    <!--/.Controls-->
  </div>
  <div *ngIf="!passport" style="width:100%; height:100%; background:gray;" class="d-flex justify-content-center align-items-center">
    <h1>Photo is not added</h1>
  </div>
  </div>
  <!--/.Carousel Wrapper-->

  <!-- Content -->
  <div class="col-10 col-lg-6 col-md-12">
    <!--Table-->
      <table class="table table-striped">

          <!--Table head-->
          <!-- <thead>
              <tr>
                  <th>Car is Avtive</th>
              </tr>
          </thead> -->
          <!--Table head-->

          <!--Table body-->
          <tbody *ngIf="user">
              <tr>
                  <td translate>Username</td>
                  <td>{{user.username}}</td>
              </tr>
              <tr>
                  <td translate>UserEmail</td>
                  <td>{{user.email}}</td>
              </tr>

              <tr>
                  <td translate>UserFirstName</td>
                  <td>{{passport.firstName}}</td>
              </tr>
              <tr>
                  <td translate>UserLastName</td>
                  <td>{{passport.lastName}}</td>
              </tr>
              <tr>
                  <td translate>UserPassportID</td>
                  <td>{{passport.identificationNumber}}</td>
              </tr>
              <tr>
                  <td translate>UserPassportNumber</td>
                  <td>{{passport.passportNumber}}</td>
              </tr>
              <tr>
                  <td translate>UserDateOfBirthday</td>
                  <td>{{passport.dateOfBirth}}</td>
              </tr>
              <tr>
                  <td translate>UserDriverLicenseId</td>
                  <td>{{passport.driverLicenseId}}</td>
              </tr>
              <tr>
                  <td translate>UserDriverLicenseDateTo</td>
                  <td>{{passport.driverLicenseId}}</td>
              </tr>
              <tr>
                  <td translate>isActive</td>
                  <td>{{user.isActive}}</td>
              </tr>
          </tbody>
          <!--Table body-->

      </table>
    <!--Table-->
  </div>

</div>
