<!--Footer-->
<footer class="page-footer unique-color-dark pt-0">

  <!--Footer-->
  <footer class="page-footer font-small blue">

      <!-- Social buttons -->
      <div class="primary-color">
          <div class="container">
              <!--Grid row-->
              <div class="row py-4 d-flex align-items-center">

                  <!--Grid column-->
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0 white-text" translate>MainPageFooterGetConnected</h6>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
                      <!-- VK -->
                      <a class="vk-ic ml-0">
                        <i class="fa fa-vk white-text mr-4" aria-hidden="true"></i>
                      </a>
                      <!--Facebook-->
                      <a class="fb-ic ml-0">
                          <i class="fa fa-facebook white-text mr-4"> </i>
                      </a>
                      <!--Twitter-->
                      <a class="tw-ic">
                          <i class="fa fa-twitter white-text mr-4"> </i>
                      </a>
                      <!--Google +-->
                      <a class="gplus-ic">
                          <i class="fa fa-google-plus white-text mr-4"> </i>
                      </a>
                      <!--Linkedin-->
                      <a class="li-ic">
                          <i class="fa fa-linkedin white-text mr-4"> </i>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                          <i class="fa fa-instagram white-text mr-lg-4"> </i>
                      </a>
                  </div>
                  <!--Grid column-->

              </div>
              <!--Grid row-->
          </div>
      </div>
      <!-- Social buttons -->


<!--Footer Links-->
<div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

        <!--First column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong translate>CompanyName</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p translate>MainPageFooterBodyText</p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong translate>MainPageFooterProductsTitle</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="#!">
                  <i class="fa fa-android" aria-hidden="true"></i> Android App</a>
            </p>
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong translate>MainPageFooterLinksLinksTitle</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="#!" translate>MainPageFooterLinksDonate</a>
            </p>
            <p>
                <a href="#!" translate>MainPageFooterLinksBecomeAnAffiliate</a>
            </p>
            <p>
                <a href="#!" translate>MainPageFooterLinksHelp</a>
            </p>
        </div>
        <!--/.Third column-->

        <!--Fourth column-->
        <div class="col-md-4 col-lg-3 col-xl-3">
            <h6 class="text-uppercase font-weight-bold">
                <strong translate>MainPageFooterContactTitle</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p translate>
                <i class="fa fa-home mr-3"></i>MainPageFooterContactAddress</p>
            <p>
                <i class="fa fa-envelope mr-3"></i>contact.easydrive@gmail.com</p>
            <p>
                <i class="fa fa-phone mr-3"></i> + 375 29 123 32 19</p>
            <p>
                <i class="fa fa-print mr-3"></i> + 375 234 567 89</p>
        </div>
        <!--/.Fourth column-->

    </div>
</div>
<!--/.Footer Links-->


    <!--Copyright-->
    <div class="footer-copyright py-3 text-center d-flex justify-content-center">
        © 2018 Copyright:
        <a href="https://github.com/Vityanchys"> @Vityanchys </a>
        <ul class="lang-container">
          <li class="d-flex align-items-center">
            <div class="lang-img-rus lang-img" (click)="switchLanguage('en')" *ngIf="this.currentLanguage === 'RU'"></div>
            <div class="lang-img-usa lang-img" (click)="switchLanguage('ru')" *ngIf="this.currentLanguage === 'EN'"></div>
          </li>
        </ul>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
