.lang {

  &-container {
    padding-left: 15px;
  }

  &-img {
  background-size: 25px;
  width: 25px;
  height: 25px;

    &-rus {
      background: url('/assets/img/rus_sq.svg') no-repeat center center;
    }

    &-usa {
      background: url('/assets/img/usa_sq.svg') no-repeat center center;
    }
  }
}
