<div class="">
  <div *ngIf="itemResource" class="">
    <a class="btn btn-primary" routerLink="/admin/add-car">Add Car</a>

  <div style="margin: auto; margin-bottom: 50px;">
      <data-table id="persons-grid"
          headerTitle="Cars"
          [items]="items"
          [itemCount]="itemCount"
          (reload)="reloadItems($event)"

          (rowClick)="rowClick($event)"
          (rowDoubleClick)="rowDoubleClick($event)"
          [rowTooltip]="rowTooltip"
          >
          <data-table-column
          [property]="'_id'"
          [header]="'ID'"
          [sortable]="true"
          [resizable]="true">
        </data-table-column>
          <data-table-column
              [property]="'mark'"
              [header]="'Mark'"
              [sortable]="true"
              [resizable]="true">
          </data-table-column>
          <data-table-column
              [property]="'model'"
              [header]="'Model'"
              [sortable]="true"
              [resizable]="true">
          </data-table-column>
          <data-table-column
              property="registrationPlate"
              header="Registration Plate"
              width="150px">
          </data-table-column>
          <data-table-column
              [property]="'jobTitle'"
              [header]="'Job title'"
              [visible]="false">
          </data-table-column>
          <data-table-column
              [property]="'isAvailable'"
              [header]="'Is available'"
              [width]="100"
              [resizable]="true">
              <ng-template #dataTableHeader let-item="item">
                  <span style="color: rgb(232, 0, 0)">Is Available</span>
              </ng-template>
              <ng-template #dataTableCell let-item="item">
                  <span style="color: grey">
                  <span class="fa fa-check green-text" *ngIf="item.active"></span>
                  <span class="fa fa-check red-text" *ngIf="!item.active"></span>
                  </span>
              </ng-template>
          </data-table-column>
      </data-table>
    </div>
  </div>
</div>
