#intro {
  height: 100%;
}

#intro {
  background: url("http://static.panoramio.com/photos/original/81825050.jpg") no-repeat top center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.btn-text-white {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-home {
  width: 40px;
  height: 40px;
  user-select: none;


  &-container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
}
