<!--Mask-->
<div id="intro" class="view">
  <div class="full-bg-img rgba-black-light">
    <div class="mask pattern-1">
      <div class="container d-flex align-items-center justify-content-center h-100">
        <!-- Content -->
        <div class="col align-self-center col col-md-8 col-lg-4 justify-content-center">
          <div class="form-group ">
            <h3 for="inputUsername" class="h3-responsive white-text" translate>Username</h3>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required id="inputUsername" placeholder="">
          </div>
          <div class="form-group ">
            <h3 for="inputUserEmail" class="h3-responsive white-text" translate>UserEmail</h3>
            <input type="email" class="form-control" name="userEmail" [(ngModel)]="user.email" required id="inputUserEmail" placeholder="">
          </div>
          <div class="form-group ">
            <h3 for="inputPassword" class="h3-responsive white-text" translate>Password</h3>
            <input type="password" class="form-control" id="inputPassword" name="user" required [(ngModel)]="user.password">
          </div>
          <div class="form-group d-flex align-items-center">
            <input class="" type="checkbox" id="gridCheckTermsOfUse" required>
            <label class="form-check-label white-text" for="gridCheckTermsOfUse" translate>TermsOfUse</label>
          </div>
          <div class="form-group  d-flex align-items-center flex-column ">
            <button type="submit" class="btn btn-outline-primary waves-effect btn-text-white" translate (click)="signup()">SignIn</button>
            <a class="btn btn-link btn-text-white" translate routerLink="/login">GoToLogIn</a>
          </div>
        </div>
        <!-- Content -->
        <div class="btn-home-container" routerLink="/" >
          <img class="btn-home" src="/assets/img/home.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <app-loading
    [loading]="loading"></app-loading>
</div>
