<div>
  <span class="d-flex">
    <h1 class="h1-responsive" translate>Map_Label</h1><h1 class="h1-responsive"> : {{0||carsCount}}</h1>
  </span>
  <!--Google map-->
  <div class="">
    <div #gmap id="map-container" class="z-depth-1-half map-container mb-5" style="height: 800px">
  </div>
  </div>
</div>
