.popup {
  background-color: #fff;
  width: 370px;
  height: 300px;
  border-radius: 10px;

  &__img {
    width: 150px;
    height: 120px;
    top: -60px;
    position: relative;

    &-container {
      display: flex;
      justify-content: space-around;
      height: 45px;
    }
  }

  &__title {
    text-align: center;
      &-container {
      }
  }

  &__btn {
    padding: 5px 30px;
    background: #3acd31;
    border: 1px solid #a0b5b5;
    cursor: pointer;

    &-container {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 43px;
    background-color: #fff;
    color: #444;
    row-gap: 20px;
    column-gap: 50px;

    &-container {
      display: flex;
      justify-content: center;
    }
  }

}
