<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse">
  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand font-weight-bold white-text" routerLink="/" translate>#EasyDrive</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navBase" aria-controls="navBase"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navBase">
      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar dropdown">
              <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img src="/assets/img/sidebar/profile.svg" class="rounded-circle z-depth-0 navbar__avatar" alt="avatar image">
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                  <a class="dropdown-item waves-effect waves-light" routerLink="/user/profile">Profile</a>
                  <a class="dropdown-item waves-effect waves-light" (click)="logout()">Log Out</a>
              </div>
          </li>
      </ul>

      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </div>
</nav>
<!--/.Navbar-->
