<app-navbar></app-navbar>
<!--Mask-->
<div id="intro" class="view">

  <div class="full-bg-img">
    <div class="mask rgba-black-light">

      <div class="container-fluid d-flex align-items-center justify-content-center h-100">

        <div class="row d-flex justify-content-center text-center">
          <div class="col-md-10">
            <!-- Heading -->
            <h2 class="display-3 font-bold white-text mb-2 display-sm-5" translate>CompanyName</h2>

            <!-- Divider -->
            <hr class="hr-light">

            <!-- Description -->
            <h4 class="white-text my-4" translate>MainPageCarsharingBody</h4>
            <a  class="btn btn-outline-white" href="#aboutUs" translate>MainPageGetStarted<i class="fa fa-car ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.Mask-->

<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: About Us-->
        <section id="aboutUs" class="text-center">
          <div class="container animated  bounceInRight">

             <!-- Heading -->
             <h2 class="mb-5" translate>MainPage_AboutUsTitle</h2>

             <!--Grid row-->
             <div class="row d-flex justify-content-center mb-4">

                 <!--Grid column-->
                 <div class="col-md-8">

                     <!-- Description -->
                     <h4 class="h4-responsive" translate>MainPage_AboutUsDescription</h4>

                 </div>
                 <!--Grid column-->

             </div>
             <!--Grid row-->

             <!--Grid row-->
             <div class="row">

                 <!--Grid column-->
                 <div class="col-md-4 mb-1">
                   <i class="fa fa-money fa-4x orange-text"></i>
                     <h4 class="my-4" translate>MainPage_AboutUs_SaveCash</h4>
                     <p translate>MainPage_AboutUs_SaveCash_Description</p>
                 </div>
                 <!--Grid column-->

                 <!--Grid column-->
                 <div class="col-md-4 mb-1">
                   <i class="fa fa-heart fa-4x orange-text"></i>
                     <h4 class="my-4" translate>MainPage_AboutUs_HealthyLife</h4>
                     <p translate>MainPage_AboutUs_HealthyLife_Description</p>
                 </div>
                 <!--Grid column-->

                 <!--Grid column-->
                 <div class="col-md-4 mb-1">
                   <i class="fa fa-hand-peace-o fa-4x orange-text"></i>
                     <h4 class="my-4" translate>MainPage_AboutUs_Comfortable</h4>
                     <p translate>MainPage_AboutUs_Comfortable_Description</p>
                 </div>
                 <!--Grid column-->

             </div>
             <!--Grid row-->



           </div>
        </section>
        <!--Section: About Us-->

        <hr class="my-2">

        <!--Section: How It Work-->
        <section id="howItWork" class="text-center">

          <!-- Heading -->
          <h2 class="mb-5" translate>MainPageHowItWorkTitle</h2>

            <!--Grid row-->
            <div class="row justify-content-center">

                <!--Grid column-->
                <div class="col-lg-custom-20proc col-md-6 col-sm-6 col-12 mb-4">
                  <div class="view overlay">
                      <img src="/assets/img/main-page/sign-up.svg" class="img-circle img-fluid " alt="">
                      <div class="mask flex-center waves-effect waves-light">
                      </div>
                  </div>
                  <h4 class="my-4 font-weight-bold" translate>MainPageHowItWork_SignUp</h4>
                  <p class="grey-text" translate>MainPageHowItWork_SignUp_Description</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-custom-20proc col-md-6 col-sm-6 col-12 mb-4">
                  <div class="view overlay">
                      <img src="/assets/img/main-page/map.svg" class="img-circle img-fluid " alt="">
                      <div class="mask flex-center waves-effect waves-light">
                      </div>
                  </div>
                  <h4 class="my-4 font-weight-bold" translate>MainPageHowItWork_FindCar</h4>
                  <p class="grey-text" translate>MainPageHowItWork_FindCar_Description</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-custom-20proc col-md-6 col-sm-6 col-12 mb-4">
                  <div class="view overlay">
                      <img src="/assets/img/main-page/card.svg" class="img-circle img-fluid " alt="">
                      <div class="mask flex-center waves-effect waves-light">
                      </div>
                  </div>
                  <h4 class="my-4 font-weight-bold" translate>MainPageHowItWork_TAP</h4>
                  <p class="grey-text" translate>MainPageHowItWork_TAP_Description</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-custom-20proc col-md-6 col-sm-6 col-12 mb-4">
                  <div class="view overlay">
                      <img src="/assets/img/main-page/drive.svg" class="img-circle  img-fluid " alt="">
                      <div class="mask flex-center waves-effect waves-light">
                      </div>
                  </div>
                  <h4 class="my-4 font-weight-bold" translate>MainPageHowItWork_UseCar</h4>
                  <p class="grey-text" translate>MainPageHowItWork_UseCar_Description</p>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-custom-20proc col-md-6 col-sm-6 col-12 mb-4">
                  <div class="view overlay">
                      <img src="/assets/img/main-page/parking.svg" class="img-circle  img-fluid " alt="">
                      <div class="mask flex-center waves-effect waves-light">
                      </div>
                  </div>
                  <h4 class="my-4 font-weight-bold" translate>MainPageHowItWork_LeaveCar</h4>
                  <p class="grey-text" translate>MainPageHowItWork_LeaveCar_Description</p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: How It Work-->

        <hr class="my-2">

        <!--Section: Prices-->
        <section id="prices" class="text-center">
          <!-- Heading -->
          <h2 class="mb-5" translate>MainPagePriceTitle</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-lg-10 col-md-12 mb-4 d-flex justify-content-around align-items-center">

                  <!--Card-->
                  <price-card rateName="MainPage_PricingRateTitle_Minute" rateCost={{minuteRate}} rateTiming={{rateTimingMinute}}></price-card>
                  <i class="fa fa-plus fa-4x orange-text"></i>
                  <price-card rateName="MainPage_PricingRateTitle_Kilometre" rateCost={{kmRate}} rateTiming={{rateKm}}></price-card>
                  <!--/.Card-->
                </div>
            </div>


        </section>
        <!--Section: Prices-->

        <hr class="my-2">

        <!--Section: What Is Included-->
        <section id="whatIsIncluded" class="text-center">
          <!-- Heading -->
          <h2 class="mb-5" translate>MainPageIncludesTitle</h2>

            <!--Grid row-->
            <div class="row">
                  <h5 class="h5-responsive" translate>MainPage_WhatIncluded_Title</h5>
              </div>

              <!--Grid row-->
              <div class="row justify-content-center">

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="view overlay d-flex justify-content-center align-items-center">
                      <div class="main-content__img-container">
                        <img src="/assets/img/main-page/gas.svg" class="main-content__img main-content__img-gas img-circle img-fluid " alt="">
                      </div>
                        <div class="mask flex-center waves-effect waves-light">
                        </div>
                    </div>
                    <h4 class="my-4 font-weight-bold" translate>MainPage_WhatIncluded_Gas</h4>
                    <p class="grey-text" translate>MainPageHowItWork_SignUp_Description</p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <div class="main-content__img-container">
                          <img src="/assets/img/main-page/insurance.svg" class="main-content__img img-circle img-fluid " alt="">
                        </div>
                        <div class="mask flex-center waves-effect waves-light">
                        </div>
                    </div>
                    <h4 class="my-4 font-weight-bold" translate>MainPage_WhatIncluded_Insurance</h4>
                    <p class="grey-text" translate>MainPageHowItWork_FindCar_Description</p>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
                    <div class="view overlay d-flex justify-content-center align-items-center">
                        <div class="main-content__img-container">
                          <img src="/assets/img/main-page/keycard.svg" class="main-content__img img-circle img-fluid " alt="">
                        </div>
                        <div class="mask flex-center waves-effect waves-light">
                        </div>
                    </div>
                    <h4 class="my-4 font-weight-bold" translate>MainPage_WhatIncluded_Card</h4>
                    <p class="grey-text" translate>MainPageHowItWork_TAP_Description</p>
                  </div>
                  <!--Grid column-->
              </div>
              <!--Grid row-->

        </section>
        <!--Section: What Is Included-->

        <hr class="my-2">

        <!--Section: Find a Car-->
        <section id="findCar" class="text-center">
          <!-- Heading -->
          <h2 class="mb-5" translate>MainPageFindCarTitle</h2>

          <!--Google map-->
          <div #gmap id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px">
          </div>


        </section>
        <!--Section: Find a Car-->


    </div>

</main>
<!--Main layout-->
<app-footer></app-footer>
