section {
  padding: 70px 0;
}

header,
#intro {
  height: 100%;
}

#intro {
  background: url("/assets/img/wall.jpg") no-repeat top center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.img-circle {
}

.border-circle {
  width: 150px;
  height: 150px;
}

.header-content {
  position: relative;
}

.col-lg-custom-20proc:hover {
  box-shadow: 0px 0px 20px 16px #ecc7c7;
}

@media(max-width: 390px) {

  .display-sm-5 {
    font-size: 2.7rem;
  }
}

@media (min-width: 992px) {

  .col-lg-custom-20proc {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.main {
  &-content {

    &__img {
      width: 120px;
      height: 120px;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        background-color: #eaa;
        border-radius: 50%;
      }

      &-gas {
        left: 13px;
      }
    }
  }
}
