  <div class="sidebar menu__wrapper" [ngClass]="{'expanded' : isExpanded, 'collapsed' : !isExpanded}">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/user/profile" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/profile.svg"/>
          </div>
          <span class="menu__item-label">Profile</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/admin/main" routerLinkActive="menu__item-container-active">
            <div class="menu__item-icon-container">
              <img class="menu__item-icon" src="/assets/img/sidebar/dashboard.svg"/>
            </div>
            <span class="menu__item-label">Dashboard</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/admin/users" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/users.svg"/>
          </div>
          <span class="menu__item-label">Users</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/admin/cars" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/cars.svg"/>
          </div>
          <span class="menu__item-label">Cars</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/admin/map" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/map.svg"/>
          </div>
          <span class="menu__item-label">Map</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/user/settings/profile" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/settings.svg"/>
          </div>
          <span class="menu__item-label">Settings</span>
        </a>
      </li>
      <li class="menu__item">
        <a class="menu__item-container" routerLink="/user/support" routerLinkActive="menu__item-container-active">
          <div class="menu__item-icon-container">
            <img class="menu__item-icon" src="/assets/img/sidebar/support.svg"/>
          </div>
          <span class="menu__item-label">Support</span>
        </a>
      </li>
      <a class="menu__btn" (click)="toggleSidebar($event)">
        <div class="menu__btn-icon-left">
          <img class="menu__item-icon" src="/assets/img/sidebar/left-nav.svg"/>
        </div>
        <div class="menu__btn-icon-right">
          <img class="menu__item-icon" src="/assets/img/sidebar/right-nav.svg"/>
        </div>
        <span class="menu__item-label">Collapse</span>
      </a>

    </ul>
  </div>
