

.sidebar {
  position: fixed;
  width: 60px;
  height: 100%;
  left: 0;
  padding-top: 25px;
  background: #fafafa !important;
  box-shadow: inset -2px 0 0 #e5e5e5;
  transition: all .25s ease-in;
  user-select: none;
}

.menu {

  &__btn {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding: 10px 0;
    bottom: 56px;
    border-top: 2px solid #e5e5e5;
    cursor: pointer;

    &:hover {
      background: #b9bcbf;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;

    &-container {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 10px 14px;
      color: #151515;
      text-decoration: none;

      &-active {
        color: #2e2e2e;
        background-color: rgba(0,0,0,.05);
        box-shadow: inset 5px 0 0 #205186;
      }

      &:hover {
        color: #2e2e2e;
        background-color: rgba(0,0,0,.08);
      }
    }

    &-icon {
      width: 32px;
      height: 32px;

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bolder;
      padding-left: 10px;
    }
  }
}


.expanded {
  width: 200px;
}

.collapsed .menu__item-label,
  .collapsed .menu__btn-icon-left {
  display: none;
}


.expanded .menu__btn-icon-right {
  display: none;
}

.expanded .menu__item-container {
  width: 200px;
}

@media (min-width: 900px) {

}

@media (max-width: 900px) {
  .expanded {
    width: 60px;
  }

  .menu__btn {
    display: none;
  }
}
